body{
  background-color: black;
}
h1{
  text-align:center;
  color: white;
  font-size: 900%;
}
#upLeft {
float: left;

}
#downLeft {
float: left;
}
#upRight {

float: left;
}

#downRight {

float: left;
}
.clear {
clear: both;
}

.space{
  color:black;
}


